# wtCLASH_hyb_final_web.csv
/Django_gene/media/wtCLASH_hyb_final_web.csv
/Django_gene/survival_analysisv3/data/TCGA-ACC_genes_FPKM_Cufflinks.csv
/Django_gene/survival_analysisv3/data/TCGA-ACC_isoforms_FPKM_Cufflinks.csv

# Ignore all CSV files
*.csv

# Ignore all ZIP files
*.zip

# Ignore all PDF files
*.pdf

# Ignore all __pycache__/
__pycache__/
