{% extends 'base.html' %}
{% load static %}
{% block title %} RNA Binding Site {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/pirna_binding_site.css' %}">
{% endblock %}
{% block content %}
<div class="card mb-4 border-dark" style="border-top-left-radius: 0rem!important;">
    <div class="card-body text-dark">
        <div class="card my-4">
            <div class="card mt-3">
                <div class="card-header fs-5 fw-bold">
                    piRNA target sites
                </div>
                <div id="clash_filter" class="accordion-collapse collapse show container" data-bs-parent="#accordionExample">
                    <div class="accordion-body row">
                        <div class="col-md-5" id="pirna_filter_div">
                            <h2><strong>piRNA Filter:</strong></h2>
                            <div id="pirna_filter" class="mx-3">
                                <table id="piRNA_Search_Table" class="cell-border hover dataTable no-footer" aria-describedby="pirna_ftable_info" style="width: 370px;">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" id="selectAll" checked="checked"> Select All</th>
                                            <th>piRNA</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Use JavaScript to populate the table rows -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-header fs-5 fw-bold">
                        CLASH identified piRNA target sites (Table View)
                    </div>
                    <div>
                        <br>
                        <table id="pirna_table" class="table table-hover" style="width:100%"></table>
                    </div>
                </div>
                <br>
                <div>
                    <div class="card-header fs-5 fw-bold">
                        CLASH_WT identified piRNA target sites
                    </div>
                    <br>
                    <div class="unstable_svg" id="pirna_svg_div">
                    </div>
                    <div class="stable_svg" id="spliced_svg_div">
                    </div>
                </div>
                <br>
                <div>
                    <div class="card-header fs-5 fw-bold">
                        WT_WAGOIP
                    </div>
                    <div class="stable_svg" id="wt_wagoip_svg_div">
                    </div>
                </div>
                <div id="floating-table">
                    <table border="1" id="dynamic-table">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tooltip"></div>

<script src="{% static 'js/pirna_binding_site.js' %}"></script>
{% endblock %}
