{% extends 'base.html' %}
{% load static %}
{% block title %} Survival Analysis {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/survival_analysis.css' %}">
{% endblock %}
{% block content %}
<div id="container">
    <div class="card-body text-dark">
        <div id="output" class="card my-4">
            <div class="card-header fs-5 fw-bold"></div>
            <div width="100%" align="center">   
                <div id="boxplot" style="overflow-x: auto">
                    <div class="input-group_output" style="width: 85%;z-index:0;height: 42px;margin-top: 15px;margin-left: 5%;">
                        <span class="input-group-addon" style="border-right:0;width:25%;padding: 2px 8px;">
                            <span style="font-weight: bold">Lower Percentile</span>
                            <hr style="width: 100%; color: black; height: 2px; background-color:#8B0000;">
                            <input type="text" id="survival_input_low_Adrenal Gland Adrenocortical Carcinoma" name="input_low" class="form-control" placeholder="Low Percentile" value="50" style="width:100%;height: 22px;">
                        </span>
                        <span class="input-group-addon" style="border-right:0;width:25%;padding: 2px 8px;">
                            <span style="font-weight: bold">High Percentile</span>
                            <hr style="width: 100%; color: black; height: 2px; background-color:#8B0000;">
                            <input type="text" id="survival_input_high_Adrenal Gland Adrenocortical Carcinoma" name="input_high" class="form-control" placeholder="High Percentile" value="50" style="width:100%;height: 22px;">
                        </span>
                        <span class="input-group-addon" style="width:25%;padding: 2px 8px;">
                            <span style="font-weight: bold">Days</span>
                            <hr style="width: 100%; color: black; height: 2px; background-color:#8B0000;">
                            <input type="text" id="survival_days_Adrenal Gland Adrenocortical Carcinoma" name="input_days" class="form-control" placeholder="Days" value="4673" style="width:100%;height: 22px;">
                        </span>
                        <span class="input-group-addon" style="border-left:0;padding: 2px 8px;width: 25%">
                            <span style="font-weight: bold">Samples Included</span>
                            <hr style="width: 100%; color: black; height: 2px; background-color:#8B0000;">
                            <select id="survival_select_Adrenal Gland Adrenocortical Carcinoma" style="height: 22px;width: 100%;" name="samples_select">
                                <option value="all stage">All Cancer Stages</option>
                                <option value="stage i">Only stage i</option>
                                <option value="stage ii">Only stage ii</option>
                                <option value="stage iii">Only stage iii</option>
                                <option value="stage iv">Only stage iv</option>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <button id="Adrenal Gland Adrenocortical Carcinoma" name="survival_submit" class="btn btn-success submit" style="height: 100%;width: 100%;border-bottom-left-radius: 0;border-top-left-radius: 0;">Submit</button>
                        </span>
                    </div>
                    <div id="image"></div>
                    <br>
                    <div id="Download_csv"></div>
                </div>
                <br>
                <br>
            </div>
        </div>
	</div>
</div>
<script src="{% static 'js/survival_analysis.js' %}"></script>
{% endblock %}