.align-items-center {
    align-items: center!important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.col-2 {
    flex: 0 0 auto;
    width: 20%;
}

mark {
    padding: 0em;
}

#y {
    background-color: yellow;
}

#b {
    background-color: lightblue;
}

#g {
    background-color: lightgreen;
}

td {
    display: table-cell;
    vertical-align: inherit;
    white-space: nowrap;
}

.sequence {
    text-align: center;
    font-family: Lucida Console;
    font-size: 12pt;
}