
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.col-2 {
    flex: 0 0 auto;
    width: 20%;
}

mark {
    padding: 0em;
}

#y {
    background-color: yellow;
}

#b {
    background-color: lightblue;
}

#g {
    background-color: lightgreen;
}

td {
    display: table-cell;
    vertical-align: inherit;
    white-space: nowrap;
}

.sequence {
    font-family: monospace Console;
    justify-content: space-between;
    font-size: 12pt;
}

.tb { border-collapse: collapse; }
.tb th, .tb td { padding: 5px; border: solid 1px #777; }
.tb th { background-color: rgb(158, 158, 158); }

.dash,
#y,
#b,
#g {
    display: inline-block; /* 将每个核苷酸设为内联块级元素 */
    width: 0.7em; /* 设置每个核苷酸宽度 */
    text-align: center; /* 水平居中 */
}