.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

mark {
    padding: 0em;
}

.y {
    background-color: yellow;
}

.b {
    background-color: lightblue;
}

.g {
    background-color: lightgreen;
}

.r {
    color: red;
    margin: 0;
}

.no {
    background-color: transparent;
}

.dash,
.y,
.b,
.g,
.no {
    display: inline-block; /* 将每个核苷酸设为内联块级元素 */
    width: 0.7em; /* 设置每个核苷酸宽度 */
    text-align: center; /* 水平居中 */
}

td {
    display: table-cell;
    vertical-align: inherit;
    white-space: nowrap;
}

.sequence {
    font-family: monospace Console;
    justify-content: space-between;
    font-size: 12pt;
}


.tooltip {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
    pointer-events: none; /* 避免tooltip擋住其他事件 */
    opacity: 0;
}

#check_form {
    text-align: left;
}

.tb { border-collapse: collapse; }
.tb th, .tb td { padding: 5px; border: solid 1px #777; }
.tb th { background-color: rgb(158, 158, 158); }

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #333;
    background-color: #fff;
}

/* Styling for the active page button */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

#floating-table {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: lightgray;
    z-index: 1000;
    white-space: nowrap;
    text-align: center;
}
